<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://thymeLeaf.org">
	<head>
		<title>Users</title>
	</head>
	<body>
		<h1>Users</h1>
		
		<div th:if="${#lists.size(users) == 1}">
			<form action="" method="post">
				<div>
					Username: <label><input type="text" th:field="${user.username}" /></label>
				</div>
				<div>
					Password: <label><input type="password" th:field="${user.password}" /></label>
				</div>
				<div>
					Full Name: <label><input type="text" th:field="${user.name}" /></label>
				</div>
				<div>
					<label><input type="hidden" th:field="${user.createdDate}" /></label>
				</div>
				<hr>
				<div>
					<span>Address Line 1: <label><input type="text" th:field="${user.address.addressLine1}"/></label></span><br>
					<span>Address Line 2: <label><input type="text" th:field="${user.address.addressLine2}"/></label></span><br>
					<span>City: <label><input type="text" th:field="${user.address.city}"/></label></span><br>
					<span>Region: <label><input type="text" th:field="${user.address.region}"/></label></span><br>
					<span>Country: <label><input type="text" th:field="${user.address.country}"/></label></span><br>
					<span>Zip Code: <label><input type="text" th:field="${user.address.zipCode}"/></label></span><br>
				</div>
				<br>
				<div>
					<input type="submit" value="Update User Account" />
				</div>
			</form>
			<form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
				<input type="submit" value="Delete User Account" />
			</form>
			<hr>
			<form action=""  method="post">
				<h1>Accounts</h1>
				<div th:each="account : ${user.accounts}">
					<span><a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId},accountId=${account.accountId})}" th:text="${account.accountName}" method="post" /></span>
				</div>
			</form>
		</div>
		
		<div th:unless="${#lists.size(users) == 1}" th:each="user : ${users}">
			<span><a th:href="@{/users/{userId}(userId=${user.userId})}" th:text="${user.userId}" method="post" ></a></span></br>
			<span th:text="${user.username}"></span><br/>
			<span th:text="${user.name}"></span><br/>
			<span th:text="${user.password}"></span>
			<div th:each="account : ${user.accounts}">
				<span th:text="${account.accountName}"></span>
			</div>
			<hr/>
		</div>
	</body>
</html>
